body {
    background-color: #222;
    color:#ccc;
    min-height: 100vh;

    //estilos de escritorio
    

    @include laptop{ //esto es un breakpoint o mediaquery
        background-color: red;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 60px 1fr;
    }
}
