.header {
    padding: 1em 0;
    @include laptop{
        //background-color: royalblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 2 / -1; // o tambien 2 / 3;
        grid-row: 1/2;
    }
}